.App {
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  max-width: 1000px;
}

.app-header h1 {
  margin: 0;
  color: #333;
  font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
  .app-header h1 {
    color: #fff;
  }
  
  .app-header {
    border-bottom-color: #444;
  }
}
